* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;;
}

 h3:hover {
  color: #E493B3;
}


/*header-section*/
.icon {
  display: flex;
  height: 15px;
  width: 15px;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 18px;
  border-radius: 11px;
  font-size: 12px;
  background-color: #E493B3;
  color: #fff;
}
.navbar-dark .navbar-brand {
    font-family: "McLaren", cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left:30px;    
}

.navbar-brand a {
  color:#fff;
}

.navbar-dark .navbar-nav .nav-link a {
  color:#fff;
}

.navbar-dark .navbar-nav .nav-link a:hover {
color: #E493B3;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 30px;
}
.navbar-collapse {
 display: flex;

}
.navbar-collapse .nav-link {
  display: flex;
 
  
}
.navbar-collapse .navbar-nav {
  flex-direction: inherit; 
}



/*menubar-section*/
.menu-bar {
    background-color: #fff;
    text-align: center;
    height: 6vh;
    position: relative;
    z-index: 11
   
  }

  .menu-bar ul {   
    display: inline-flex;
    list-style: none;
    margin-top: 5px;
  }

  .menu-bar ul li {
    width: 120px;
    margin: 5px;
   
  }


.menu-bar ul li a {
  text-decoration: none;
  color: #503C3C;
}

.menu-bar ul li a:hover  {
  color: #E493B3;
}

.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background-color: #fff;
  margin-top: 5px;
  margin-left: -5px;
  

}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 5px;

}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 120px;
  padding: 5px;
  background: transparent;
  text-align: left;
}

/*promo-section*/
.heading-inner {
  background-color: #ecc3d3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.carousel-item  .items {
  display: flex;
  justify-content: center;
  
}
.carousel-item  .items a {
  text-decoration: none;
  color: #ec8fb4;
  font-weight: bolder;

}
.space {
  margin-right: 4px;
}
.mg-1 {
  font-weight: bolder;
  margin: 2px 4px 2px 4px;
}
.header-close-botton {
  float: right;
  margin-right: 40px;
}


/*title-section*/
.title-page {
  background-color: #f6f7f8;
  margin: 10p;
  padding: 1% 2%;
}

.title-img img{
  width: 100%;
  height: 80vh;
  margin-left: 10px;
  
}

.title-text {
padding: 2% 5%;
color: #503C3C;
width: 100%;
margin-top: 30px;
}
@media (min-width: 927px) and (max-width: 992px) {
  .title-text {
    text-align: center;
    }
}

.title-text p {
  font-weight: 400;
  font-size: 20px;
}

.italic-text {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}
.white {
  background-color: #fff;
}
.btn {
  color:#503C3C;
  text-decoration: none;
  border-color:#503C3C ;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  outline:none !important;
}
.btn:active {
  outline: none;
  border-color:#503C3C ;
  background-color: #fff;
  color: #E493B3;
}   

.btn:hover {
  border-color:#503C3C ;
  background-color: #fff;
  color: #E493B3;
  
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.title-sub {
 text-align: center;
 margin-top: 20px;
}

/*content section*/

.skin-content {
  height: 80vh;
  padding: 2% 3%;
  margin: 10px;
}


.carousel-text {
  padding: 2% 4%;
  color: #503C3C;
  width: 90%;
  margin-top: 20%;
 text-align: center; 
}

.text-3 {
  line-height: 20px;
  margin: 20px 10px 10px 5px;
  font-size: 15px;
  line-height: 1.5rem;
}
.text-1 {
  font-weight: bold;
}

.text-2 {
  font-weight: 700;
}
.skin-button{
  background-color: #503C3C;
  color: #e8ebee;
  margin-top: 5px;
}
.grey-area {
  background-color:#f6f7f8;
}


#slider-section{
position: relative;
height: 80vh;
margin: auto ;
}

.bg-one {
background-image: url("https://i.pinimg.com/736x/26/32/47/26324767d22888d7b986218e448a1f00.jpg");
}
.bg-two {
  background-image: url("https://i.pinimg.com/originals/77/5f/1d/775f1d5e409fee124f255ed2fa5b2ea9.jpg");
}
.bg-three {
  background-image: url("https://i.pinimg.com/originals/63/22/e3/6322e3f998cad75656c69250ffa9f3d9.jpg");
}
.bg-four {
  background-image: url("https://i.pinimg.com/originals/7d/dd/73/7ddd738fdf832c40a3c2066d196503d0.jpg") ;
}
.bg-five {
  background-image: url("https://i.pinimg.com/originals/ea/5b/ad/ea5bad9456aa4b98328d49b5b068e8ad.png");
}


.slider-container { 
  width: 100%;
  height: 70vh;     
  padding: 2% 2%;
  margin: 10px 5px 5px 5px;
  overflow: hidden;
  cursor: pointer;
}

.slider-img { 
  background-repeat: no-repeat;
  background-size: 90%;    
  background-position: center; 
  height: 60vh;  
  padding: 20px;
  transition: all ease-in-out .3s;
}


.category-text h3{
  color: #503C3C;
  display: grid;
  font-weight: bold;
  justify-content: center;
  margin: 30px 10px 10px;
}
.subimg-text  {
  text-align: center;
  background-color: #503C3C;
  color: #f6f7f8;
  position: absolute;
  bottom: 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
 .nav-link  a{
  color: #f6f7f8;
}


.slider-img:hover {
  transform: scale(1.1);
}
.slider-img:hover .subimg-text {
  background-color: #f6f7f8;
  color: #503C3C;
}
.slider-img:hover .subimg-text a{
  color: #503C3C;
}


/*footer-section*/

#footer-section {
margin-top: 50px;
background-color: #0F0F0F ;
color:#f6f7f8;
}

.footer-nav {
margin-top: 40px;
}
.footer-row {
  justify-content: space-between;
}
.footer-nav .nav-link {
  color: #f6f7f8;
}
.footer-nav .nav-link:hover {
  color: #E493B3;
}
.form-btn {
border-color: #f6f7f8;
color: #f6f7f8;
}

@media (max-width: 500px)  {  
  .title-img img{
    height: 60vh;
    margin: 10px 0; 
  }
  .title-text {
    padding: 2% 3%;
    color: #503C3C;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    }
    .title-text p {
      font-weight: 400;
      font-size: 15px;
    }

    .title-sub {
     font-size: 12px;
     }

     .carousel-text {
      padding: 2% 2%;
      width: 100%;
      margin: 10px;
     text-align: center; 
    }
    .skin-content {
      width: 100%;         
      height: 100%;
      padding: 2% 2%;
      margin: 10px;
    }
    .category-text h3{
      justify-content: center;
      margin: 20px 10px;
    }
    .subimg-text {
      bottom: 60px;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      margin-left: 5px;
    }
    #footer-section {
      margin-top: 10px;
      
      }
      .menu-bar {
        overflow-x: auto;
        height: auto;
      }
      .menu-bar ul li {
        width: 100px; 
      }
      .navbar-dark .navbar-brand {
        margin-left:10px;
        
    }    
    
}

@media (min-width: 500px) and (max-width: 768px) {
  .menu-bar {
    overflow-x: auto;
    height: auto;
  }
  .title-text {
    width: 100%;
    margin-top: 10px;
    text-align: center;    
}
.carousel-text {
  width: 100%;
  margin: 5px;
 text-align: center; 
}
.skin-content {
  width: 100%;         
  height: 100%;
  padding: 2% 2%;
  margin: 10px;
}
.subimg-text {
  bottom: 60px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 5px;
}
}
@media (min-width: 768px) and (max-width: 927px) {
  .title-text {
    width: 100%;
    margin-top: 10px;
    text-align: center;    
}
.skin-content {
  width: 100%;         
  height: 100%;
  padding: 2% 2%;
  margin: 10px;
}
.carousel-text {
  width: 100%;
  
}
.text-1 {
  font-size: 10px;
}
.text-2{
  font-size: 20px;
}
.text-3 {
  font-size: 12px;
}

.carousel-text {
  padding: 2% 4%;
  width: 100%;
  margin-top: 10%;
}
.subimg-text {
  bottom: 40px;
}
}

@media (min-width: 927px) and (max-width: 1200px){
  .skin-content img{         
    height: 65vh;
    margin: 10px;
  }
  .carousel-text {
    padding: 2% 4%;
    width: 100%;
    margin-top: 10%;
  }
}

/*pricepage*/
.grid-container{
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 200px;
}
#price-page {
  padding: 2% 4%;
  margin: 10px;
}
.top-row{
  margin: 10px;
}
.pages-col {
  display: flex;
}

.dropdown-btn {
  outline-color: #503C3C;
  border: none;
 
}



/*productcategory*/
@media (max-width: 500px) {
  .product-category {
    grid-template-columns: 1fr  !important; 
    row-gap: 40px  !important;
    padding: 20px  !important; 
  }
  .product-category img {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .product-category-index {
    margin: 10px 1rem !important;
  }

}
@media (min-width: 510px) and (max-width: 768px) {
  .product-category {
    grid-template-columns: 1fr 1fr !important; 
    row-gap: 50px  !important;
    padding: 5px  !important; 
    margin: 10px 30px;
  }
  .product-category img {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .product-category-index {
    margin: 15px 3rem !important;
  } 
  .flex-container {
    margin: 10px ;
  }
}
@media (min-width: 768px) and (max-width: 927px) {
  .product-category {
    grid-template-columns: 1fr 1fr 1fr !important; 
    row-gap: 40px  !important;
    padding: 30px  !important; 
  }
  .product-category img {
    width: 90% !important;
    margin-bottom: 15px;
  }
  .product-category-index {
    margin: 15px 3rem !important;
  } 
  .flex-container {
    margin: 5px ;
  }

}
@media (min-width: 927px) and (max-width: 1200px) {
  .product-category {
    grid-template-columns: 1fr 1fr 1fr !important; 
    row-gap: 40px  !important;
    padding: 20px  !important; 
  }
  .product-category img {
    width: 90% !important;
    margin-bottom: 15px;
  }
  .flex-container {
    margin: 10px ;
  }
  
}

.product-category-index {
  display: flex;
  margin: 20px 6.5rem;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  border: none;
  background-color: none;
  margin-right: 20px;

}
.product-category img {
  margin-bottom: 15px;
}
.product-category-index p span {
  font-weight: 600;
}
.product-category-index p {
  margin: 5px;
}

.product-category {
  margin: 20px 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 60px;
}
.exploremore-button {
display: flex;
justify-content: center;
align-items: center;
margin: 50px auto;
width: 200px;
height: 60px;
border-radius: 75px;
background-color: #ededed;
color: #787878;
font-size: 18px;
font-weight: 500;

}

/*signup-page*/
@media (max-width: 500px) {
  .form-container {
    justify-content: center;
    width: 400px !important;
  }
  .form-container button {
    width: 350px !important;
  }

}
@media (min-width: 510px) and (max-width: 768px) {
  .form-container {
    justify-content: center;
    width: 400px !important;
  }
}

.signin-setup {
  width: 100%;
  height: 80vh;
  background-color: white;
  padding-top: 50px ;

}
.form-container {
  justify-content: center;
  width: 500px;
  height: 65vh;
  background-color: #f6f7f8;
  padding: 2% 4%;
  margin: auto;
}
.form-container h1 {
  margin: 5px 0;
  font-size: 30px;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.form-fields input {
  height: 50px;
  width:100% ;
  padding-left:20px ;
  border:1px solid #787878;
  outline: none ;
  color: #503C3C;
  font-size: 15px;
}
.form-container button {
  width: 380px;
  height: 40px;
  color: #fff;
  background-color: #ff4141;
  margin-top: 10px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.login-ref {
  margin-top: 10px;
  color: #787878;
  font-size: 13px;
  font-weight: 500;
}
.login-ref span {
  color: #ff4141;
  font-weight: 600;
}
.signin-terms {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 500;
}
.signin-terms p {
  margin-top: 13px;
}










  
  













  

